* {box-sizing: border-box;}

/*general backpane*/
.wikibody {
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  min-height:120vh;
  position:relative;
  left:0;
  top:0;
}
.side {
  width:14%;
  padding:8px;
  align-self:flex-start;

  top:0;
  background-image:linear-gradient(to bottom, #eeeeeeff, 95%, #00000000);
  margin-top:.5%;
  min-height:90vh
}
/*makes the left list properly formatted*/
.sidelist {
  list-style-type: none;
  width:100%;
  margin:0;
  padding:0;
}
.sidelist a {
  width:100%;
  display:inline-block;
}
.sidelist a:hover , a:focus{
  background-image:linear-gradient(to right, #cc3000, 95%, #ffffff00);
  color:white;
}
.listtitle {
  border-bottom:2px solid #cc3000;
  margin-top:2%;
}
/*main body for content, make the total of .side and .cint width be 98%.*/
.cont {
  width:85%;
  margin-top:.5%;
  padding:8px;
  background-image:linear-gradient(to bottom, #eeeeeeff, 95%, #00000000);
}
.logoimg {
  width:100%;
  margin:0;
}

.logoimg2 {
  margin-left:15%;
  width:70%;
}

.titlebar {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:10px;
}
/*contains info for img in title of wiki page*/
.titleimg {
  height:64px;
  width:64px;
  margin:0;
  background:red;
  outline:3px solid black;
}
/*page title for h2 in .titlebar*/
.pgt {
  margin:0;
  font-size:2.5em;
}
/*this is for the title page/ intro space for cw_home.html*/
.home {
  display:flex;
  flex-direction:column;
}
/*centerer generic*/
.c {
  margin:0 auto 0 auto;
}

/*this should be for the title only, only h1 use, used for the portblog title in footer*/
h1 {
  margin:0;
  padding:0;
  font-family:'Staatliches', sans-serif;
}
/*This is the backing gradient, keeps elements at the edge of the page without margins+padding. Also sets basic google font*/
body {
  background-image:linear-gradient( #cc3000, 10%, #444444 );
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}


/*footer container*/
.ftr {
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-evenly;
  background-image:linear-gradient(#666666, 10%, #222222);
  min-height:40px;
  font-size:small;
}
/*divs within ftr should be 100/(# of divs)-5~10 wide*/
.ftr div {
  padding:10px;
  background:#ffffff00;
  width:20%;
  height:100%;
  display:inline-block;
  color:#cccccc;
}
/*This is for the small portblog logo stamp at the bottom, which should be a <a>*/
.ftrtitle {
  font-size:small;
  color:#cccccc;
  text-decoration: none;
}
/*keeps the p in footer columns compact*/
.ftrp {
  margin:0px;
}
/*makes the links in ftrp more hidden*/
.ftrp a {
  color:#cccccc
}