/*folio-page specific styles document to keep the main one smaller+ keep maintainability up*/
/*tab container/body*/
.foliotab {
    margin:1%;
    padding:10px;
    border:5px solid orange;
    z-index: 2;
    background-image:linear-gradient(#cccccc,10%, #3b3b3b);
    color:#ffffff;
    display:flex;
    text-decoration:none;
  }
  /*title at left, keep to 12-ish chars.*/
  .foliotab h2 {
    font-family: 'Staatliches', italic;
    margin:0;
    padding:0;
    width:21%;
    font-size:3vw;
  }
  /*arrow container*/
  .foliotab div {
    width:9%;
    font-size:100px;
  }
  .foliotab p {
    font-size:14px;
    width:70%;
    padding-left:5px;
  }
  /*reactive mouse-over*/

  .foliotab:hover, .foliotab:focus {
    text-shadow:0px 0px 20px yellow;
  }
/*media query for rescale for portrait ---------------------------------------------------------------------*/
@media only screen and (orientation: portrait) {
/*title at left, keep to 12-ish chars.*/
.foliotab h2 {
    width:26%;
    font-size:20px;
  }
  /*arrow container*/
  .foliotab div {
    width:9%;
    font-size:70px;
  }
  .foliotab p {
    font-size:13px;
    width:55%;
    padding-left:5px;
  }
  /*reactive mouse-over*/
  .foliotab:hover div, .foliotab:focus div {
    text-shadow:0px 0px 20px yellow;
  }
}
#legoreview {
padding:10px;
border:5px solid #ff0000;
border-radius: 10px;
background-image:url();
background-image:linear-gradient(#cccccc,10%, #3b3b3b);
color:#ffffff;
display:flex;
text-decoration:none;
}
/*----------------------------------------------*/
#icondesign {
  padding:10px;
  border:5px solid #ffffff;
  border-radius: 10px;
  background-image:url();
  background-image:linear-gradient(#cccccc,10%, #3b3b3b);
  color:#ffffff;
  display:flex;
  text-decoration:none;
}
#desktopbg {
  padding:10px;
  border:5px solid yellow;
  border-radius: 10px;
  background-image:url();
  background-image:linear-gradient(#cccccc,10%, #3b3b3b);
  color:#ffffff;
  display:flex;
  text-decoration:none;
}
#chngs {
  padding:10px;
  border:5px solid rgb(218, 162, 8);
  border-radius: 10px;
  background-image:url();
  background-image:linear-gradient(#cccccc,10%, #3b3b3b);
  color:#ffffff;
  display:flex;
  text-decoration:none;
}
#blendmod {
  padding:10px;
  border:5px solid teal;
  border-radius: 10px;
  background-image:url();
  background-image:linear-gradient(#cccccc,10%, #3b3b3b);
  color:#ffffff;
  display:flex;
  text-decoration:none;
}