/*this makes the borders be added into the size of an element*/
* {box-sizing:border-box;}

/*Global element styles ==================================*/
/*This is the backing gradient, keeps elements at the edge of the page without margins+padding. Also sets basic google font*/
body {
  background-image:linear-gradient(90deg, #222222, #ffffff, #ffffff, #222222);
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
}
/*this should be for the title only, only h1 use*/
h1 {
  margin:0;
  padding:0;
  font-family:'Staatliches', sans-serif;
}
hr {
  color:#adadad;
}
/*Main layout classes , in page order ================*/
/*topbar container, manages tpbrtl and tpbtnrow*/
.tpbr {
  width:100%;
  background:#222222;
  display:flex;
  margin:0 auto 0 auto;
}
/*title box*/
.tpbrtl {
  background-image:linear-gradient(#666666, 10%, #222222);
  width: 25%;
  text-align:center;
  font-size:20px;
  text-decoration:none;
  letter-spacing:2px;
  color:white;
  border-right:2px solid #222222;
}

.tpbrtl:hover, .tpbrtl:focus {
  text-shadow: 0px 0px 8px yellow;
}
/*container for all the buttons*/
.tpbtnrow {
  display:flex;
  justify-content:space-evenly;
  margin-top:auto;
  width:75%;
  height:75%;
  background:green;
}
/*button styling within tpbtnrow, width is 100 /# of buttons*/
.tpbtnrow a {
  width:50%;
  padding:1px;
  color:#ffffff;
  border-top:2px solid #222222;
  letter-spacing:2px;
  background-image:linear-gradient(#666666, 10%, #222222);
  font-family:'Staatliches', sans-serif;
  font-size:27px;
  text-align: center;
  text-decoration:none;
}

/*Hover for topbar buttons*/
.tpbtnrow a:hover , .tpbtnrow a:focus{
  background-image:linear-gradient(#ffffff, 10%, #222222);
  border-top:2px solid #ffffff;
  text-shadow:0px 0px 5px yellow;
}
/*manager for all content NOT Footer or Header, also pushed footer below initial page*/
.pg {
  width:90%;
  height:100%;
  background:#eeeeee;
  border-left:6px solid #adadad;
  border-right:6px solid #adadad;
  box-shadow:0px 0px 10px #000000;
  margin:0px auto 0px auto;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
/*generic article frame, centers and vertically spaces , provides gradient lower line*/
.article {
  display:flex;
  flex-direction:column;
  align-self:baseline;
  width:98%;
  margin:10px auto 10px auto;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:10px;
  background-image:linear-gradient(#ffffff00 ,95%, #adadad );
  border-bottom:2px solid #adadad;
}
/*Special article with steeper gradient, for easier placement of buttons styled with .ctabutton*/
.articlecta {
  background-image:linear-gradient(#ffffff00 ,20%, #adadad );
  border-bottom:2px solid #222222;
}
.ctabutton {
  border-top:2px solid transparent;
  padding:6px;
  box-shadow:0px 0px 5px #000000;
  text-align: center;
  text-decoration:none;
  background-image:linear-gradient(yellow, 10%, green);
  color:#ffffff;
}
.ctabutton:focus, .ctabutton:hover {
  border-top:2px solid #ffffff;
  background-image:linear-gradient(#ffffff, 10%, green);
}
.article dl {
  font-weight:bold;
  margin-bottom:5px;
}
.article dd {
  font-weight: 500;
}
.articleimg {
  width:90%;
  display:block;
  border:3px solid #ffffff;
  margin:0px auto 0px auto;
}
.articleimgs {
  width:60%;
  display:block;
  border:3px solid #ffffff;
  margin:0px auto 0px auto;
}
.articleimggrid {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-evenly;
}
.articleimggrid img {
  width:99%;
  max-height: 360px;
  border:.5% 0 .5% 0 solid #ffffff;
  margin:0;
}
.articleftr {
  color:#222222;
  margin-top:20px;
}
/*must be placed in a section element, and contain div.reviewside, div.reviewbody. most of it is automatic, or should be*/
.review {
  width:100%;
  background-image:linear-gradient(#ffffff00, 50%, #adadad);
  display:flex;
  border-top:3px solid #adadad;
  border-bottom:3px solid #adadad;
}
/*contains review text content*/
.reviewcopy {
    padding:10px;
}
/*Sets h2 to title font, removes margin*/
.reviewcopy h2 {
  margin:0;
  font-family:'Staatliches', sans-serif;
  font-size:30px;
}
/*Sets h3 to title font, removes margin*/
.reviewcopy h3 {
  margin:0;
  font-family:'Staatliches', sans-serif;
  font-size:large;
  letter-spacing:1px;
}
/*contains image and a space for a list below it, structure : <a <img> > (for thumbnails to brickset)*/
.reviewside {
  width:20%;
  margin-right:.5%;
  float:left;
}
.reviewside ul {
  list-style-type: none;
  padding:1%;
}
.reviewside li {
  border-bottom:3px solid #adadad;
}
.reviewside img {
  width:100%;
}

/*footer container*/
.ftr {
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-evenly;
  background-image:linear-gradient(#666666, 10%, #222222);
  min-height:40px;
  font-size:small;
}
/*divs within ftr should be 100/(# of divs)-5~10 wide*/
.ftr div {
  padding:10px;
  background:#ffffff00;
  width:20%;
  height:100%;
  display:inline-block;
  color:#cccccc;
}
/*This is for the small portblog logo stamp at the bottom, which should be a <a>*/
.ftrtitle {
  font-size:small;
  color:#cccccc;
  text-decoration: none;
}
/*keeps the p in footer columns compact*/
.ftrp {
  margin:0px;
}
/*makes the links in ftrp more hidden*/
.ftrp a {
  color:#cccccc
}
/*media query for mobile, to fix some of the scale issues. this should make it useable for now ----------------------------------------------*/
@media only screen and (orientation: portrait) {

  /*Main layout classes , in page order ================*/
/*topbar container, manages tpbrtl and tpbtnrow*/
.tpbr {
  flex-direction:column;
}
/*title box*/
.tpbrtl {
  width: 100%;
  text-align:center;
  font-size:20px;
  letter-spacing:2px;
}
/*container for all the buttons*/
.tpbtnrow {
  width:100%;
}
/*button styling within tpbtnrow, width is 100 /# of buttons*/
.tpbtnrow a {
  width:50%;
  padding:1px;
  letter-spacing:2px;
  height:100%;
  font-size:27px;
}
/*Hover for topbar buttons*/
.tpbtnrow a:hover {
  background-image:linear-gradient(#ffffff, 10%, #222222);
  border-top:2px solid #ffffff;
  text-shadow:0px 0px 5px yellow;
}
/*generic article frame, centers and vertically spaces , provides gradient lower line*/
.review ul {
  margin:0;
  padding-right:15px;
}
.articleimgs {
  width:90%;
}
.articleimggrid {
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  justify-content:space-around;
}
.articleimggrid img {
  width:100%;
  max-height: 256px;
  border:.5% 0 .5% 0 solid #ffffff;
}
/*contains review text content*/
.reviewcopy {
    padding:5px;
    width:100%;
}
/*contains image and a space for a list below it, structure : <a <img> > (for thumbnails to brickset)*/
.reviewside {
  padding:3px;
  width:28%;
}
/*footer container*/
.ftr {
  font-size:10px;
}

}